/*position: sticky*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    background: green;
    height: 175px;
    width: 700px;
    margin: auto;
    position: sticky;
    top: 0;

}
h1{
    text-align: center;
}
nav{
    color: honeydew;
    background: red;
}
main{
    text-align: justify;
    padding-left: 10px;
    width: 700px;
    margin-top: 10px;
    background: yellow;
    border: 2px solid blanchedalmond;
}