.box{
    height: 300px;
    background-color: cadetblue;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items:center;
}
.item{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    background: blue;
    text-align: center;

}
